<%= form_with model: do |f| %>
  <%= render 'shared/errors', resource: %>

  <p>
    <%= f.label :value %> <br>
    <%= f.text_field :value, id: :question_value, placeholder: 'Введите вопрос' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
